<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{header.html}"></th:block>
<title>WhiteBus - Signup</title>
<link rel="stylesheet" href="/css/login.css">
</head>

<body>
	<th:block th:insert="~{navbar.html}"></th:block>
	<th:block th:insert="~{message.html}"></th:block>
	<div class="container">
		<h2>Agency Signup</h2>
		<form action="/agency/signup" method="post" th:object="${agency}">

			<div class="form-group">
				<label for="name">Name:</label> <input type="text"
					class="form-control" id="name" th:field="*{name}" name="name"
					placeholder="Enter your name"> <span class="error-message"
					th:errors="*{name}"></span>
			</div>

			<div class="form-group">
				<label for="mobile">Mobile:</label> <input type="tel"
					class="form-control" id="mobile" th:field="*{mobile}" name="mobile"
					placeholder="Enter your mobile number"> <span
					class="error-message" th:errors="*{mobile}"></span>
			</div>

			<div class="form-group">
				<label for="email">Email:</label> <input type="email"
					class="form-control" id="email" th:field="*{email}" name="email"
					placeholder="Enter your email"> <span class="error-message"
					th:errors="*{email}"></span>
			</div>

			<div class="form-group">
				<label for="password">Password:</label> <input type="password"
					class="form-control" th:field="*{password}" id="password"
					name="password" placeholder="Enter your password"> <span
					class="error-message" th:errors="*{password}"></span>
			</div>

			<div class="form-group">
				<label for="cpassword">Confirm Password:</label> <input
					type="password" class="form-control" th:field="*{cpassword}"
					id="cpassword" name="cpassword" placeholder="Enter Password Again">
				<span class="error-message" th:errors="*{cpassword}"></span>
			</div>

			<div class="form-group">
				<label for="address">Address:</label>
				<textarea class="form-control" rows="3" cols="20" name="address"
					th:field="*{address}" placeholder="Enter your Address"></textarea>
				<span class="error-message" th:errors="*{address}"></span>
			</div>

			<div class="form-group">
				<label for="gst_no">GST No:</label> <input type="text"
					class="form-control" placeholder="Enter your GST Number"
					id="gst_no" th:field="*{gst_no}" name="gst_no"> <span
					class="error-message" th:errors="*{gst_no}"></span>
			</div>

			<div class="form-group">
				<label for="reg_no">Registration Number:</label> <input type="text"
					class="form-control" placeholder="Enter your Registration Number"
					id="reg_no" th:field="*{reg_no}" name="reg_no"> <span
					class="error-message" th:errors="*{reg_no}"></span>
			</div>

			<div class="form-group">
				<label for="pan_no">Pan Number:</label> <input type="text"
					class="form-control" placeholder="Enter your Pan Number"
					id="pan_no" th:field="*{pan_no}" name="pan_no"> <span
					class="error-message" th:errors="*{pan_no}"></span>
			</div>

			<div class="d-flex justify-content-between align-items-center">
				<a href="/" class="btn btn-secondary">Back</a>
				<button type="submit" class="btn btn-success">Sign Up</button>
			</div>

		</form>
	</div>
	<th:block th:insert="~{footer.html}"></th:block>
</body>
</html>