<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Signup</title>
</head>
<body><h3 th:text="${session.successMessage}"></h3>
	<h3 th:text="${session.failMessage}"></h3>
	<th:block th:text="${@sessionMessageRemover.removeSessionMessage()}"></th:block>
	<div align="center">
		<h1>Customer Signup</h1>
		<form action="/customer/signup" method="post" th:object="${customer}">
			Name: <input type="text" name="name" th:field="*{name}"><span
				th:errors="*{name}"></span><br> Address:
			<textarea rows="5" cols="30" name="address" th:field="*{address}"></textarea>
			<span th:errors="*{address}"></span><br> Mobile: <input
				type="number" name="mobile" th:field="*{mobile}"><span
				th:errors="*{mobile}"></span><br> Email: <input type="text"
				name="email" th:field="*{email}"><span th:errors="*{email}"></span><br>
			Password: <input type="password" name="password"
				th:field="*{password}"><span th:errors="*{password}"></span><br>
			Confirm Password: <input type="password" name="cpassword"
				th:field="*{cpassword}"><span th:errors="*{cpassword}"></span><br>
			Date of Birth: <input type="date" name="dob" th:field="*{dob}"><span
				th:errors="*{dob}"></span><br> Gender: <input type="radio"
				name="gender" value="male" th:field="*{gender}">Male <input
				type="radio" name="gender" value="female" th:field="*{gender}">Female
			<span th:errors="*{gender}"></span><br>

			<button>Signup</button>
		</form>
	</div>
</body>
</html>